main{
    div{
        padding-top: 30px;
    }
    .col{
        display: grid;
        justify-content: center;
    }
    #quilmes{
        width: 112px;
        margin: auto;
    }
    #quilmes1{
        width: 73%;
        margin: auto;
    }
    #quilmes3{
        width: 56px;
        margin: auto;
    }
    #andes1{
        width: 239px;
        margin: auto;
    }
    #andes2{
        width: 115px;
        margin: auto;
    }
    #corona{
        width: 264px;
        margin: auto;
    }
    #patagonia3{
        width: 140px;
        margin: auto;
    }
}