main{
    #ballent{
        width: 210px;
        margin: auto;
    }
    #johnnyeb{
        width: 120px;
        margin: auto;
    }
    #johnnieg{
        width: 240px;
        margin: auto;
    }
    #absolut{
        width: 242px;
        margin: auto;
    }
    #skyy{
        width: 242px;
        margin: auto;
    }
    #merleg{
        width: 211px;
        margin: auto;
    }
    #jagerm{
        width: 141px;
        margin: auto;
    }
    #baileys{
        width: 187px;
        margin: auto;
    }
    #texto{
        text-align: center;
    }
    
}